//
// Title area
//======================

.title-area {
  float: left;
  padding: 10px 0;
  width: $titleArea__Width;

  @media only screen and (max-width: $MEDIUM_SCREEN) {
    width: $medium-screen-title-area-width;
  }

  .header-full-width & {
    float: none;
    width: 100%;
  }
}


