//
// Site titles
//======================

.site-title {
  font-size: rem( $siteTitle__FontSize );
  font-weight: 700;
  line-height: 1.2;

  a,
  a:hover,
  a:focus {
    color: $link__SiteTitleFocusColor;
    text-decoration: none;
  }
}