/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings__FontFamily;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 10px;
}

h1 {
//  font-size: rem( 36 );
  font-size: modular-scale(6);
}

h2 {
//  font-size: rem( 30 );
  font-size: modular-scale(5);
}

h3 {
//  font-size: rem( 24 );
  font-size: modular-scale(4);

}

h4 {
//  font-size: rem( 20 );
  font-size: modular-scale(3);
}

h5 {
//  font-size: rem( 18 );
  font-size: modular-scale(2);
}

h6 {
//  font-size: rem( 16 );
  font-size: modular-scale(1);
}