//
// Sidebar
//=======================

.sidebar {
  font-size: rem( $sidebar__FontSize );
  margin-bottom: 40px;

  .widget {
    background-color: $widget__BackgroundColor;
    padding: 40px;
  }

  @media only screen and (max-width: $SMALL_SCREEN) {
    margin-bottom: 5%;

    .widget {
      padding: 30px;
      margin-bottom: 5%;
    }
  }
}