/* ## Widget Titles
--------------------------------------------- */

.widget-title {
  font-size: rem( $widgetTitle__FontSize );
  margin-bottom: 20px;

  .sidebar & a {
    color: $entry__TitleColor;
    text-decoration: none;
  }
}
