//
// Archive Description
//============================

.archive-description {
  background-color: $authorbox__BackgroundColor;
  font-size: rem( 18 );
  margin-bottom: 40px;
  padding: 60px;

  @media only screen and (max-width: 860px) {
    padding: 30px;
    margin-bottom: 5%;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .entry-title {
    font-size: rem( 20 );
  }
}
