/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: right;
  width: $siteHeader__WidgetAreaWidth;

  @media only screen and (max-width: $LARGE_SCREEN) {
    width: $large-screen-site-header-widget-area-width;
  }

  @media only screen and (max-width: $MEDIUM_SCREEN) {
    width: $medium-screen-site-header-widget-area-width;
    text-align: center;
  }
}