//
// Device Screen Sizes
//===============================

$smallest-screen: rem( 320 );
$smaller-screen: rem( 480 );
$small-screen: rem( 860 );    // 1
$medium-screen: rem( 1023 );  // 2
$large-screen: rem( 1200 );   // 3
$larger-screen: rem( 1340 );  // 4
$huge-screen: rem( 1600 );