//
// Dimension variables
//====================

$titleArea__Width: 300px;
$headerImage__TitleAreaMaxWidth: 300px;
$headerImage__SiteTitleMinHeight: 80px;

$siteHeader__WidgetAreaWidth: 800px;

$footerWidgets__Width: 380px;
//
// Media sizes
//========================
$mediaScreen1__MaxWidth: 860px;

$mediaScreen2__MaxWidth: 1023px;
$mediaScreen2__SiteHeaderWidgetAreaWidth: 100%;
$mediaScreen2__FooterWidgetsWidth: 100%;

$mediaScreen3__MaxWidth: 1200px;
$mediaScreen3__SiteHeaderWidgetAreaWidth: 620px;
$mediaScreen3__FooterWidgetsWidth: 300px;

$mediaScreen4__MaxWidth: 1340px;
$mediaScreen4__WrapMaxWidth: 1140px;
$mediaScreen4__ContentSidebarWidth: 920px;
$mediaScreen4__SiteHeaderWidgetArea: 800px;
$mediaScreen4__FooterWidgetsWidth: 340px;

