//
// Dimension variables
//====================

// Header Module
$titleArea__Width: 300px;
$siteHeader__WidgetAreaWidth: 800px;
$headerImage__TitleAreaMaxWidth: 300px;
$headerImage__SiteTitleMinHeight: 80px;

// Footer Module
$footerWidgets__Width: 380px;

// Max widths
//------------------------------------------------------------------------------
$max-width: rem( 1280 );
$max-width-larger-screen: rem( 1140 );
$max-width-large-screen: rem( 960 );
$max-width-medium-screen: rem( 800 );

$medium-screen-footer-widgets-width: 100%;
$large-screen-footer-widgets-width: rem( 300 );
$larger-screen-footer-widgets-width: rem( 340 );

$medium-screen-site-header-widget-area-width: 100%;
$large-screen-site-header-widget-area-width: rem( 620 );

$medium-screen-sidebar-secondary-width: 100%;

//
// Secondary Sidebar
//===========================
$sidebar-secondary-width: rem( 180 );