//
// Navigation font sizes
//=============================

$nav__FontSize: 16;
$primaryNav__FontSize: 14;
$submenu__FontSize: 14;

//
// Comments
//======================
$commentRespond__FontSize: 16;
4
//
// Entry Content
//==================
$entryMeta__HeaderFontSize: 16;
$entryMeta__FooterFontSize: $entryMeta__HeaderFontSize;
$entryTitle__FontSize: 36;
$entryPings__FontSize: $commentRespond__FontSize;

//
// Header
//=====================
$siteTitle__FontSize: 30;

//
// Footer
//======================
$footerWidget__FontSize: 18;
$siteFooter__FontSize: 16;

//
// Site description
//=====================
$siteDescription__FontSize: 16;

//
// Breadcrumb
//============================
$breadcrumb__FontSize: 16;

//
// Authorbox
//=========================
$authorbox__FontSize: 16;

//
// General
//=========================
$afterEntry__FontSize: 18;
$archiveDescription_FontSize: 18;

//
// Widgets
//==========================
$widgetTitle__FontSize: 18;
$featuredContent__EntryTitleFontSize: 20;

//
// Sidebar
//===========================
$sidebar__FontSize: 16;

//
// Plugins
//===========================
$enews__FontSize: 16;
