/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

$grid-columns: 12 !default;

.one-fourth,
.two-fourths,
.three-fourths,
.one-half,
.one-sixth,
.two-sixths,
.three-sixths,
.four-sixths,
.five-sixths,
.one-third,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%;

  @media only screen and (max-width: $SMALL_SCREEN) {
      margin: 0;
      width: 100%;
  }
}

.one-half,
.three-sixths,
.two-fourths {
//  width: 48.717948717948715%;
  @include span-columns(6);
}

.one-third,
.two-sixths {
//  width: 31.623931623931625%;
  @include span-columns(4);
}

.four-sixths,
.two-thirds {
//  width: 65.81196581196582%;
  @include span-columns(8);
}

.one-fourth {
//  width: 23.076923076923077%;
  @include span-columns(3);
}

.three-fourths {
//  width: 74.35897435897436%;
  @include span-columns(9);
}

.one-sixth {
//  width: 14.52991452991453%;
  @include span-columns(2);
}

.five-sixths {
//  width: 82.90598290598291%;
  @include span-columns(10);
}

.last {
  @include omega();
  clear: right;
}
.first {
  clear: both;
  margin-left: 0;
}