/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: $max-width;

  @media only screen and (max-width: $LARGER_SCREEN) {
    max-width: $larger-screen-max-width;
  }
  @media only screen and (max-width: $LARGE_SCREEN) {
    max-width: $large-screen-max-width;
  }
  @media only screen and (max-width: $MEDIUM_SCREEN) {
    max-width: $medium-screen-max-width;
  }
}

.wrap {
  @media only screen and (max-width: $SMALL_SCREEN) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;

  @media only screen and (max-width: $SMALL_SCREEN) {
    padding: 5% 5% 0;
  }
}

.landing-page .site-inner {
  max-width: $medium-screen-max-width;
}

