/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: $footerWidgets__BackgroundColor;
  font-size: rem( $footerWidget__FontSize );
  clear: both;
  padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: $footerWidgets__Width;

  @media only screen and (max-width: $LARGER_SCREEN) {
    width: $larger-screen-footer-widgets-width;
  }
  @media only screen and (max-width: $LARGE_SCREEN) {
    width: $large-screen-footer-widgets-width;
  }
  @media only screen and (max-width: $MEDIUM_SCREEN) {
    width: $medium-screen-footer-widgets-width;
  }
}

.footer-widgets-1 {
  margin-right: 70px;

  @media only screen and (max-width: $LARGER_SCREEN) {
      margin-right: 60px;
  }
  @media only screen and (max-width: $LARGE_SCREEN) {
    margin-right: 30px;
  }
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;

  @media only screen and (max-width: $MEDIUM_SCREEN) {
    margin: 0 auto 40px;
  }
}

.footer-widgets-3 {
  float: right;
}