/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: $footerWidgets__BackgroundColor;
  font-size: rem( $footerWidget__FontSize );
  clear: both;
  padding: 60px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: $footerWidgets__Width;

  @media only screen and (max-width: $mediaScreen4__MaxWidth) {
    width: $mediaScreen4__FooterWidgetsWidth;
  }
  @media only screen and (max-width: $mediaScreen3__MaxWidth) {
    width: $mediaScreen3__FooterWidgetsWidth;
  }
  @media only screen and (max-width: $mediaScreen2__MaxWidth) {
    width: $mediaScreen2__FooterWidgetsWidth;
  }
}

.footer-widgets-1 {
  margin-right: 70px;

  @media only screen and (max-width: $mediaScreen4__MaxWidth) {
      margin-right: 60px;
  }
  @media only screen and (max-width: $mediaScreen3__MaxWidth) {
    margin-right: 30px;
  }
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;

  @media only screen and (max-width: $mediaScreen2__MaxWidth) {
    margin: 0 auto 40px;
  }
}

.footer-widgets-3 {
  float: right;
}