//
// .js enabled styles
//=============================

@media only screen and (max-width: $medium-screen) {

  .js {
    nav.nav-primary,
    .site-header nav  {
      display: none;
      position: relative;
    }

    .site-header nav .wrap {
      padding: 0;
    }

    nav.pagination {
      display: block;
    }

    .nav-primary .genesis-nav-menu .menu-item,
    .site-header .genesis-nav-menu .menu-item {
      display: block;
      float: none;
      margin: 1px 0;
      position: relative;
      text-align: left;
    }

    .nav-primary .genesis-nav-menu .menu-item a,
    .site-header .genesis-nav-menu .menu-item a {
      border: none;
      padding: 12px 0;
      width: 100%;
    }

    .genesis-nav-menu {
      .sub-menu {
        border: none;
        clear: both;
        display: none;
        margin: 0;
        opacity: 1;
        padding-left: 15px;
        position: static;
        width: 100%;
        a, & {
          width: 100%;
        }
        .sub-menu {
          margin: 0;
        }
      }
      .menu-item {
        :hover {
          position: relative;
        }
        > a:focus ul.sub-menu,
        > a:focus ul.sub-menu .sub-menu {
          left: 0;
          margin-left: 0;
        }
      }
      > .menu-item-has-children > a:after {
        content: none;
      }
    }

    nav button:hover,
    .menu-toggle:hover,
    .nav-primary {
      background-color: $jsNavPrimary__BackgroundColor;
      color: $jsNavPrimary__Color;
    }

    nav button:focus,
    .menu-toggle:focus {
      background-color: $jsMenu__ToggleFocusBackgroundColor;
      color: $jsMenu__ToggleFocusColor;
    }
  }
}