/* ## Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: 40px 0;

  @media only screen and (max-width: $small-screen) {
    margin: 5% auto;
  }
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination {
  li {
    display: inline;
  }

  a {
    background-color: $link-archive-pagination-background-color;
    color: $link-archive-pagination-color;
    cursor: pointer;
    display: inline-block;
    font-size: rem( 16 );
    font-weight: 600;
    padding: 8px 12px;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  .active a {
    background-color: $link-archive-pagination-active-background-color;
    color: $link-archive-pagination-active-color;
  }

  @media only screen and (max-width: $small-screen) {
    li a {
      margin-bottom: 4px;
    }
  }
}