/* ## Site Header Navigation
--------------------------------------------- */

.site-header {
  .genesis-nav-menu li li {
    margin-left: 0;
  }

  @media only screen and (max-width: 1023px) {
    ul.genesis-nav-menu {
      float: none;
    }
    .menu-toggle {
      border: 0;
    }
  }
}