/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: $sidebar-width;

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }

  @media only screen and (max-width: $LARGER_SCREEN) {
    width: $sidebar-primary-width-larger-screen;
  }

  @media only screen and (max-width: $MEDIUM_SCREEN) {
    width: $sidebar-primary-width-medium-screen;
  }
}

