/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-wrap {
  .content-sidebar-sidebar &,
  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    width: $content-sidebar-wrap-width;
  }

  .content-sidebar-sidebar & {
    float: left;
  }

  .sidebar-content-sidebar &,
  .sidebar-sidebar-content & {
    float: right;
  }

  @media only screen and (max-width: $LARGER_SCREEN) {
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
      width: $larger-screen-content-sidebar-wrap;
    }
  }

  @media only screen and (max-width: $LARGE_SCREEN) {
    .content-sidebar-sidebar &,
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content & {
      width: $large-screen-content-sidebar-wrap;
    }
  }

  @media only screen and (max-width: $MEDIUM_SCREEN) {
    .sidebar-content-sidebar &,
    .sidebar-sidebar-content &,
    .content-sidebar-sidebar & {
      width: $medium-screen-content-sidebar-wrap;
    }
  }
}
